extends layout
block content
 #banner.page-header
    .row
      .col-md-6.col-sm-12
        h1= title
  .row
    .col-md-6.col-sm-12
 p
 | Inkinsight connects you with local spots to read [Book Title]. Discover cafés, bookstores, and libraries where you can relax and enjoy the book. Find the perfect reading nook near you. Explore and dive into the story today!
 | <br /><br />
 | 
