extends layout

block content
  .row.page-header(style="margin-bottom: 20px;")
    .col-lg-12
      h1(style="margin-top: 20px;") ikigai

  .row
    .col-xs-12.col-md-9
      .row
        .col-xs-12.col-sm-6
          p.rating
            span.glyphicon.glyphicon-star
            span.glyphicon.glyphicon-star
            span.glyphicon.glyphicon-star
            span.glyphicon.glyphicon-star-empty
            span.glyphicon.glyphicon-star-empty
          p banjara-hills
          .panel.panel-primary
            .panel-heading
              h2.panel-title Opening hours
            .panel-body
              p Monday - Friday : 10:00am - 10:00pm
              p Saturday : 10:00am - 11:00pm
              p Sunday : 6:00pm - 12:00am
          .panel.panel-primary
            .panel-heading
              h2.panel-title Facilities
            .panel-body
              span.label.label-warning
                span.glyphicon.glyphicon-ok
                | &nbsp;wifi
              | &nbsp;
              span.label.label-warning
                span.glyphicon.glyphicon-ok
                | &nbsp;ambience
              | &nbsp;
              span.label.label-warning
                span.glyphicon.glyphicon-ok
                | &nbsp;co-readers
              | &nbsp;
        .col-xs-12.col-sm-6.location-map
          .panel.panel-primary
            .panel-heading
              h2.panel-title Location map
            .panel-body
              <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d243628.77930575056!2d78.16271098671875!3d17.4261945!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3bcb97cebfa05f83%3A0xa8e2b385c2c024ec!2sHimalaya%20Book%20World%20-%20Banjara%20Hills%20Road%20No.%2012!5e0!3m2!1sen!2sin!4v1727409891596!5m2!1sen!2sin" width="350" height="350" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
      
      .row
        .col-xs-12
          .panel.panel-primary.review-panel
            .panel-heading
              a.btn.btn-default.pull-right(href='/location/review/new') Add review
              h2.panel-title Customer reviews
            .panel-body.review-container
              .row
                .review
                  .well.well-sm.review-header
                    span.rating
                      span.glyphicon.glyphicon-star
                      span.glyphicon.glyphicon-star
                      span.glyphicon.glyphicon-star
                      span.glyphicon.glyphicon-star
                      span.glyphicon.glyphicon-star
                    span.reviewAuthor Shiva 
                    small.reviewTimestamp 16 July 2023
                  .col-xs-12
                    p What a great place. I can't say enough good things about it.
              .row
                .review
                  .well.well-sm.review-header
                    span.rating
                      span.glyphicon.glyphicon-star
                      span.glyphicon.glyphicon-star
                      span.glyphicon.glyphicon-star
                      span.glyphicon.glyphicon-star-empty
                      span.glyphicon.glyphicon-star-empty
                    span.reviewAuthor  Ravi
                    small.reviewTimestamp 16 July 2023
                  .col-xs-12
                    p It was okay. ambience was great, but the wifi was slow.
    .col-xs-12.col-md-3
      p.lead
        | ikigai is a book written by fransesc moralles on the long-living centenarians.
      p
        | If you've read and you like it - or if you don't - please leave a review to help other people just like you.